### misc. ###
*.swp
### visual studio ###
.vs
**/.vscode
### acumos ignores ###
### z2a ignores ###
helm-charts/couchdb_value.yaml
helm-charts/jhub_value.yaml
helm-charts/nifi_value.yaml
z2a/TODO.md
z2a/user-env.sh
z2a/distro-setup/kind-config.yaml
z2a/noncore-config/*/utils.sh
z2a/k8s-dashboard/main.yaml
z2a/k8s-dashboard/recommended.yaml
