[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Administrators
	owner = group ldap/acumos-gerrit-system-integration-committers
	read = group GitHub Replication
	create = group Administrators
	createSignedTag = group Administrators
	createTag = group Administrators
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	push = +force group Administrators
	pushMerge = group Administrators
	forgeServerAsCommitter = group Administrators
