apiVersion: apps/v1
# ===============LICENSE_START=======================================================
# Acumos Apache-2.0
# ===================================================================================
# Copyright (C) 2017-2018 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
# ===================================================================================
# This Acumos software file is distributed by AT&T and Tech Mahindra
# under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# This file is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ===============LICENSE_END=========================================================

# What this is: kubernetes template for Acumos cms (Hippo CMS) deployment
# How to use:
# - Replace fields in <> with actual values (k8s does not support env variables)

kind: Deployment
metadata:
  namespace: <ACUMOS_NAMESPACE>
  name: cms
  labels:
    app: cms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cms
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: cms
    spec:
      imagePullSecrets:
      - name: acumos-registry
      containers:
      - name: cms
        image: <PORTAL_CMS_IMAGE>
        env:
        - name: SPRING_APPLICATION_JSON
          value: '{
                    "server": {
                      "port": 9080
                    },
                    "spring": {
                      "datasource": {
                      "url": "jdbc:mysql://<ACUMOS_MARIADB_HOST>:<ACUMOS_MARIADB_PORT>/acumos_cms?useSSL=false",
                      "username": "acumos_opr",
                      "password": "<ACUMOS_MARIADB_USER_PASSWORD>"
                    }
                  },
                  "parameters": {
                    "repository": {
                      "dataSource": {
                        "url": "jdbc:mysql://<ACUMOS_MARIADB_HOST>:<ACUMOS_MARIADB_PORT>/acumos_cms?useSSL=false",
                        "username": "acumos_opr",
                        "password": "<ACUMOS_MARIADB_USER_PASSWORD>"
                        }
                      }
                    }
                  }'
        ports:
        - containerPort: 9080
        volumeMounts:
        - mountPath: /maven/logs
          name: acumos-logs
      restartPolicy: Always
      volumes:
      - name: acumos-logs
        hostPath:
          path: /var/acumos/logs
      hostAliases:
      - ip: "<ACUMOS_HOST>"
        hostnames:
        - "<ACUMOS_DOMAIN>"
