apiVersion: apps/v1
# ===============LICENSE_START=======================================================
# Acumos Apache-2.0
# ===================================================================================
# Copyright (C) 2017-2018 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
# ===================================================================================
# This Acumos software file is distributed by AT&T and Tech Mahindra
# under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# This file is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ===============LICENSE_END=========================================================

# What this is: kubernetes template for Acumos filebeat deployment
# How to use:

kind: Deployment
metadata:
  namespace: <ACUMOS_NAMESPACE>
  name: filebeat
  labels:
    app: filebeat
spec:
  replicas: 1
  selector:
    matchLabels:
      app: filebeat
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: filebeat
    spec:
      imagePullSecrets:
      - name: acumos-registry
      containers:
      - name: filebeat
        image: acumos-filebeat
        imagePullPolicy: IfNotPresent
        env:
        - name: log_level
          value: "DEBUG"
        - name: LOGSTASH_HOST
          value: "<ACUMOS_ELK_DOMAIN>"
        - name: LOGSTASH_PORT
          value: "<ACUMOS_ELK_LOGSTASH_PORT>"
        ports:
        - containerPort: 8099
        volumeMounts:
        - mountPath: /filebeat-logs
          name: pv-<ACUMOS_NAMESPACE>-logs
# Per https://github.com/elastic/beats/issues/8253
        securityContext:
          privileged: true
      restartPolicy: Always
      volumes:
      - name: pv-<ACUMOS_NAMESPACE>-logs
        persistentVolumeClaim:
         claimName: pvc-<ACUMOS_NAMESPACE>-logs
      hostAliases:
      - ip: "<ACUMOS_ELK_HOST_IP>"
        hostnames:
        - "<ACUMOS_ELK_DOMAIN>"
