# ===============LICENSE_START=======================================================
# Acumos Apache-2.0
# ===================================================================================
# Copyright (C) 2017-2018 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
# ===================================================================================
# This Acumos software file is distributed by AT&T and Tech Mahindra
# under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# This file is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ===============LICENSE_END=========================================================
#
apiVersion: v1
kind: ConfigMap
metadata:
  name: elasticsearch
  namespace: "{{ .Values.global.namespace }}"
  labels:
    app: elasticsearch
data:
  elasticsearch.yml: |
    cluster.name: "{{ .Values.global.clusterName }}"
    path.data: /usr/share/elasticsearch/data
    path.repo: ["/usr/share/elasticsearch/data/backup/"]
    network.host: "0.0.0.0"
    discovery.zen.ping.unicast.hosts: "elasticsearch.{{ .Values.global.namespace }}"
    discovery.zen.minimum_master_nodes: 1