version: '2'
# ===============LICENSE_START=======================================================
# Acumos Apache-2.0
# ===================================================================================
# Copyright (C) 2017-2018 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
# ===================================================================================
# This Acumos software file is distributed by AT&T and Tech Mahindra
# under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# This file is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ===============LICENSE_END=========================================================

# docker-compose for cms
# uses localhost for database (running on same server)
# TODO: remove ports: when post-deploy/manual CMS admin operations are not needed
services:
   cms-service:
       image: ${PORTAL_CMS_IMAGE}
       environment:
           SPRING_APPLICATION_JSON: "{
                \"server\": {
                    \"port\": ${ACUMOS_CMS_PORT}
                },
                \"spring\": {
                    \"datasource\": {
                        \"url\": \"jdbc:mysql://${ACUMOS_MARIADB_HOST}:${ACUMOS_MARIADB_PORT}/acumos_cms?useSSL=false\",
                        \"username\": \"acumos_opr\",
                        \"password\": \"${ACUMOS_MARIADB_USER_PASSWORD}\"
                  }
                },
                \"parameters\": {
                   \"repository\": {
                      \"dataSource\": {
                        \"url\": \"jdbc:mysql://${ACUMOS_MARIADB_HOST}:${ACUMOS_MARIADB_PORT}/acumos_cms?useSSL=false\",
                        \"username\": \"acumos_opr\",
                        \"password\": \"${ACUMOS_MARIADB_USER_PASSWORD}\"
                      }
                   }
                }
           }"
       expose:
           - ${ACUMOS_CMS_PORT}
       ports:
           - ${ACUMOS_CMS_PORT}:${ACUMOS_CMS_PORT}
       volumes:
           - acumos-logs:/maven/logs
       logging:
           driver: json-file
       extra_hosts:
           - "${ACUMOS_DOMAIN}:${ACUMOS_HOST}"

