version: '3.2'
# ===============LICENSE_START=======================================================
# Acumos Apache-2.0
# ===================================================================================
# Copyright (C) 2017-2018 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
# ===================================================================================
# This Acumos software file is distributed by AT&T and Tech Mahindra
# under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# This file is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ===============LICENSE_END=========================================================

# docker-compose for microservice-generation
# TODO: scrub all attributes for current need
services:
   msg-service:
       image: ${MICROSERVICE_GENERATION_IMAGE}
       environment:
          SPRING_APPLICATION_JSON: "{
               \"server\":{
                    \"port\": ${ACUMOS_MICROSERVICE_GENERATION_PORT}
               },
               \"docker\": {
                   \"host\": \"${ACUMOS_DOCKER_API_HOST}\",
                   \"port\": ${ACUMOS_DOCKER_API_PORT},
                   \"config\": \"/docker_host/.docker\",
                   \"registry\":{
                       \"url\": \"http://${ACUMOS_NEXUS_HOST}:${ACUMOS_DOCKER_MODEL_PORT}/\",
                       \"username\": \"${ACUMOS_NEXUS_RW_USER}\",
                       \"password\": \"${ACUMOS_NEXUS_RW_USER_PASSWORD}\",
                       \"email\": \"${ACUMOS_ADMIN_EMAIL}\"
                   },
                   \"tls\": {
                       \"verify\": \"false\"
                   },
                   \"api\": {
                       \"version\": \"1.23\"
                   },
                   \"imagetag\": {
                       \"prefix\": \"${ACUMOS_NEXUS_HOST}:${ACUMOS_DOCKER_MODEL_PORT}\"
                   },
                   \"max_total_connections\": \"1\",
                   \"max_per_route_connections\": \"1\"
               },
               \"http_proxy\": \"''\",
               \"nexus\": {
                   \"nexusEndPointURL\": \"http://${ACUMOS_NEXUS_HOST}:${ACUMOS_NEXUS_API_PORT}/repository/acumos_model_maven/\",
                   \"nexusUserName\": \"${ACUMOS_NEXUS_RW_USER}\",
                   \"nexusPassword\": \"${ACUMOS_NEXUS_RW_USER_PASSWORD}\",
                   \"nexusproxy\": \"\",
                   \"nexusGroupId\": \"org.acumos\"
               },
               \"cmndatasvc\": {
                   \"cmnDataSvcEndPoinURL\": \"http://cds-service:${ACUMOS_CDS_PORT}/ccds\",
                   \"cmnDataSvcUser\": \"${ACUMOS_CDS_USER}\",
                   \"cmnDataSvcPwd\": \"${ACUMOS_CDS_PASSWORD}\"
               },
               \"mktPlace\": {
                   \"mktPlaceEndPointURL\": \"http://portal-be-service:${ACUMOS_PORTAL_BE_PORT}\"
               },
               \"microService\": {
                   \"microServiceEndPointURL\": \"http://msg-service:${ACUMOS_MICROSERVICE_GENERATION_PORT}\"
               },
               \"requirements\": {
                   \"extraIndexURL\": \"${PYTHON_EXTRAINDEX}\",
                   \"trustedHost\": \"${PYTHON_EXTRAINDEX_HOST}\"
               },
               \"base_image\": {
                   \"rimage\": \"${ONBOARDING_BASE_IMAGE}\",
                   \"dockerusername\": \"${ACUMOS_PROJECT_NEXUS_USERNAME}\",
                   \"dockerpassword\": \"${ACUMOS_PROJECT_NEXUS_PASSWORD}\"
               },
               \"spring\": {
                   \"http\": {
                       \"multipart\": {
                           \"max-file-size\": \"1024MB\",
                           \"max-request-size\": \"1024MB\"
                       }
                   }
               }
       }"
       ports:
           - ${ACUMOS_MICROSERVICE_GENERATION_PORT}:${ACUMOS_MICROSERVICE_GENERATION_PORT}
       links:
           - cds-service
       depends_on:
           - cds-service
       volumes:
           - type: bind
             source: /var/${ACUMOS_NAMESPACE}/logs
             target: /maven/logs
           - type: bind
             source: /var/${ACUMOS_NAMESPACE}/output
             target: /temp/
       logging:
           driver: json-file
       extra_hosts:
           - "${ACUMOS_DOMAIN}:${ACUMOS_HOST}"
       restart: on-failure
