# ===============LICENSE_START=======================================================
# Acumos Apache-2.0
# ===================================================================================
# Copyright (C) 2018-2019 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
# ===================================================================================
# This Acumos software file is distributed by AT&T and Tech Mahindra
# under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# This file is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ===============LICENSE_END=========================================================
apiVersion: batch/v1
kind: Job
metadata:
  name: acumos-kong-migration
  namespace: "{{ .Values.global.namespace }}"
spec:
  template:
    metadata:
      name: acumos-kong-migration
    spec:
      containers:
      - name: acumos-kong-migration
        image: kong:0.11.2
        env:
          - name: KONG_NGINX_DAEMON
            value: 'off'
          - name: KONG_PG_PASSWORD
            value: "{{ .Values.global.acumosKongPGPassword }}"
          - name: KONG_PG_HOST
            value: "acumos-postgres.{{ .Values.global.namespace }}"
        command: [ "/bin/sh", "-c", "kong migrations up" ]
      restartPolicy: Never

